body {
  background-color:#00425A;

}

.navbar {
    background-color: #1F8A70;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: none;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #60c78e;
    color: white;
  }

  