body{
    background-color: #03001C;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #301E67;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #111;
}
  

.navbar {
  background-color: transparent;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}


.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: snow;
  font-size: 17px;
}


.navbar a:hover {
  background-color: #ddd;
  color: black;
}


.navbar a.active {
  background-color: #2e1a4b;
  color: white;
}
